@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    margin: 0px 25vw;
    max-width: 1024px;
    background: #EBEBEB; 
    
}

#sns{
    font-size: 4vw;
    text-align: right;
    margin-left: 50vw;
}
.myDiv1 { 
    width: 1000px;
    font-size: 25px;
    text-align: auto;
    font-family: 'Raleway', sans-serif;
}

#introduce{
    font-size: 30px;
    height: 50vw;;
    text-align: center;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

  }

#about{
    
    font-family: 'EB Garamond', serif;
    background:#FCF7EB;
    background-size: 400% 400%;
    width: 1000px;
    height: 22vw;
    font-size: 23px;
}

.box{
    height: 30vw;
    width: 1024px;
}

table
{
border-collapse: separate;
border-spacing: 0 1.3vw;
overflow-x: auto;
}

#tablet{
    margin-top: 20vw;
    margin-bottom: 5vw;
    font-family: 'EB Garamond', serif;
    color: black;
    font-size: 3.5vw;
    
}
   
.button1 {border-radius: 40px;}
.button2 {border-radius: 40px;}

section {
    display: block;
  }


.primary-text-color { 
	color: #212121; 
}

.secondary-text-color { 
	color: #757575; 
}

.divider-color { 
	color: #BDBDBD; 
}

.icon-color { 
	color: #000000; 
}

#b3{
 
    height: 25vw;
}

th{
    background-color: #757575; 
    color: whitesmoke;
    font-size: 1.2vw;
    height: 10vw;
    width: 20vw;
}
td{
    vertical-align: top;
    width: 1000px;
}
tr{
    background-color: white;
    box-shadow: 0 0 10px black;
}
#TableHeading{
    font-size: 2vw;
}

#field
{
    font-size: 1.3vw;
}
td #field{
    font-size: 2vw;
}
#school
{
color: grey;
text-transform: uppercase;
}

#con{
    font-size: 2vw;
    font-family: 'EB Garamond', serif;

}
#contextme{
    width: 1000px;
    height: 45vw;
    margin-bottom: 10vw;
}


fieldset{
   
    font-family: 'EB Garamond', serif;
    color: black;
    font-size: 20px;
    width: 1000px;
    background-color: #FCF7EB;;
}

textarea{
    resize: none;
    vertical-align: top;
    text-align: left;
    overflow-x: auto;
    width: 48.5vw;
    margin-left: 1vw;
    height: max-content;
}

label {
    display: inline-block;
    width: 4vw;
    margin-left: 1vw;
  }

input{
    font-size: 1.3vw;
}


#hr{
    display: none;
}

#radiobuttons
{
font-size: 1.3vw;
font-family: 'Roboto Mono', monospace;
color: black;
}

#more{
    margin-top: 10vw;
    margin-bottom: 10vw;
    font-family:'EB Garamond', serif;
    background: #FAF5EA;
    background-size: 400% 400%;
    width: 1024px;
    height: 15vw;
    font-size: 1.2vw;
}

.reflect{
    height:10vw;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8vw;
    text-align: left;

}

.git{
    height:10vw;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8vw;
    text-align: left;

}


@media screen and (max-width: 1024px) {
    body{
        margin: 0px 25vw;
        max-width: 400px;
        background: #EBEBEB; 
        
    }
    #introduce{
        font-size: auto;
        height: auto;
        text-align: center;
    }
    
    .myDiv1 { 
        width: auto;
        font-size: auto;
        text-align: auto;
        font-family: 'Raleway', sans-serif;
    }
    
    .box{
        flex-direction: column;
        align-items: center;
        width:100%;
        height: auto;
        font-size: auto;
    }

    #about{
    
        font-family: 'EB Garamond', serif;
        background:#FCF7EB;
        background-size: auto;
        width: auto;
        height: auto;
        font-size: auto;
    }
    .button {
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: auto;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: auto;    
      }
      table
      {
      border-collapse: separate;
      border-spacing: auto;
      overflow-x: auto;
      }
      
      #tablet{
          margin-top: auto;
          margin-bottom: auto;
          font-family: 'EB Garamond', serif;
          color: black;
          font-size: auto;
          
      }

      #b3{
 
        height: auto;
    }
    
    th{
        background-color: #757575; 
        color: whitesmoke;
        font-size: auto;
        height: auto;
        width: auto;
    }
    td{
        vertical-align: top;
        width: auto;
    }
    tr{
        background-color: white;
    }
    #TableHeading{
        font-size: auto;
    }
    
    #field
    {
        font-size: auto;
    }
    td #field{
        font-size: auto;
    }
    #school
    {
    color: grey;
    text-transform: uppercase;
    }
    
    #con{
        font-size: auto;
        font-family: 'EB Garamond', serif;
    
    }
    #contextme{
        width: auto;
        height: auto;
        margin-bottom: auto;
    }
    
    
    fieldset{
       
        font-family: 'EB Garamond', serif;
        color: black;
        font-size: auto;
        width: auto;
        background-color: #FCF7EB;;
    }
    
    textarea{
        resize: none;
        vertical-align: top;
        text-align: auto;
        overflow-x: auto;
        width: auto;
        margin-left: auto;
        height: auto;
    }
    
    label {
        display: inline-block;
        width: auto;
        margin-left: auto;
      }
    
    input{
        font-size: auto;
    }
    
    
    #hr{
        display: none;
    }
    
    #radiobuttons
    {
    font-size: auto;
    font-family: 'Roboto Mono', monospace;
    color: black;
    }
    
    #more{
        margin-top: auto;
        margin-bottom: auto;
        font-family:'EB Garamond', serif;
        background: #FAF5EA;
        background-size: auto;
        width: auto;
        height: auto;
        font-size: auto;
    }
    
    .reflect{
        height:auto;
        font-family: 'Roboto Mono', monospace;
        font-size: auto;
        text-align: auto;
    
    }
    
    .git{
        height:auto;
        font-family: 'Roboto Mono', monospace;
        font-size: auto;
        text-align: auto;
    
    }
    

}
