@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{    
    background: #EBEBEB;
   
}
img{
    width: 300px;
    height: 300px;
}
#sns{
    font-size: 4vw;
    text-align: right;
}
#introduce{
    font-size: 30px;
    text-align: center;
}
.myDiv1 { 
    margin: auto;
    font-size: 25px;
    text-align: auto;
    font-family: 'Raleway', sans-serif;
}

footer{
    background-color: black;
}
.button1,
.button2 {border-radius: 40px;}
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.box1{
    margin: auto;
    margin-top: 5vw;
    background-color: white;
    height: 100%;
    display: flex;
}
#about{
    margin-left: 10vw;
    font-family: 'EB Garamond', serif;
    width: 95%;
    height: 100%;
    font-size: 25px;
}
#tablet{
    margin-top: 5vw;
    font-family: 'EB Garamond', serif;
    color: black;
    font-size: 3.5vw;
}

#b2{
    height: 25vw;
}

.box2{
    margin: auto;
    height: 30vw;

}

table
{
   margin:auto;
   border-collapse: separate;
   border-spacing: 0 1.3vw;
   overflow-x: auto;
}
#field
{
    font-size: 1.3vw;
}
th{
    background-color: #757575; 
    color: whitesmoke;
    font-size: 1.2vw;
    height: 10vw;
    width: 20vw;
}
td{
    vertical-align: top;
    font-size: 1.2vw;
    width: 1024px;
}
tr{
    background-color: white;
    box-shadow: 0 0 10px black;
}
td #field{
    font-size: 2vw;
}
#school
{
    color: grey;
    text-transform: uppercase;
}
#more{
    margin-top: 10vw;
    margin-bottom: 10vw;
    font-family:'EB Garamond', serif;
    height: 40vw;
    font-size: 1.3vw;
}   

.primary-text-color { 
	color: #212121; 
}

.secondary-text-color { 
	color: #757575; 
}

.divider-color { 
	color: #BDBDBD; 
}

.icon-color { 
	color: #000000; 
}
.box3{
    margin: auto;
    height: 40vw;
    background: #FAF5EA;
}
.reflect,
.git{
    margin-top: 5vw;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5vw;
    text-align: center;
}
#con{
    font-size: 2vw;
    font-family: 'EB Garamond', serif;

}

fieldset{
    margin: auto;
    font-family: 'EB Garamond', serif;
    color: black;
    font-size: 20px;
    width:1024px;
    background-color: #FCF7EB;
    margin-bottom: 10vw;
}

textarea{
    resize: none;
    vertical-align: top;
    text-align: left;
    overflow-x: auto;
    width: 40vw;
    margin-left: 1vw;
    height: max-content;
}

label {
    display: inline-block;
    width: 4vw;
    margin-left: 1vw;
 }

input{
    font-size: 1.3vw;
    width: fit-content;
}

#hr{
    display: none;
    grid-column: 2 / 3;
}
#radiobuttons
{
    font-size:100%;
    font-family: 'Roboto Mono', monospace;
    color: black;
}
#contactfo{
    margin:auto;
}
form#contactfo {
    display: grid;
    grid-template-columns: repeat(6, 140px);
    grid-gap: 10px;
    justify-content: center;
    font-size: 18px;
}
.fname,
.address,
.email,
.city {
    font-size: 100%;
    grid-column: 2 / 2;
  }
.lname,
.phone,
.postal,
.province {
    font-size: 100%;
    grid-column: 5 / 5;
  }
.purpose {
    font-size: 100%;
    grid-column: 2 / span3;
  }
.message {
    font-size: 100%;
    grid-column: 2 / span6;
  }
.submit{
    font-size: 100%;
    grid-column: 2 / 8;
    display: flex;
  }

@media screen and (max-width:768px) {
    .button1,
.button2 {border-radius: 20px;}
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
}
    img{
        width: 50%;
        height: 100%;
    }
	
    #introduce{
        font-size: 100%;
        height: 100%;
        text-align: center;
    }
    
    .myDiv1 { 
        margin: auto;
        width: 100%;
        margin-bottom: 5vw;
        font-size: 100%;
    }
    
    .box1{
        margin-top: 10vw;
        width: fit-content;
        height: 100%;
    }

    .box2{
        margin-top: 5vw;
        margin-bottom: 5vw;
        height: auto;
        width: auto;
    }
    
    .box3{
        margin-top: 5vw;
        height: auto;
        width: auto;
    }
    .box4{
        height: auto;
        width: auto;
    }

    #about{
        margin-left: 10vw;
        background-size: 100%;
        width: 100%;
        height: 100%;
        font-size: 1vw;
    }

    table{
        width: fit-content;
        overflow-x: auto;
    }
      
    #tablet{
        margin-top: 5vw;
    }

    #b2{
        height: 100%;
    }
    
    th{
        height: 100%;
        width: auto;
    }

    td{
        vertical-align: top;
        width: auto;
    }

    #field,
    td #field,
    input,
    #radiobuttons{
        font-size: 100%;
    }

    #contextme{
        margin: auto;
        max-width: 1024px;
        height: 100%;
        margin-bottom: auto;
    }

    textarea{
        resize: none;
        vertical-align: top;
        overflow-x: auto;
        width: 55vw;
    }
    
    label {
        width: fit-content;
        margin-left: auto;
    }
    
    #more{
        width: 95%;
        height: 100%;
    }
    .reflect,
    .git{
        height:auto;
        text-align: auto;
    }
      .fname,
      .address,
      .email,
      .city {
        grid-column: 1;
      }
      .lname,
      .phone,
      .postal,
      .province {
        margin-left: 40vw;
        grid-column: 2 / 4;
      }
      .purpose {
        grid-column: 1 / span3;
      }
      .message {
        grid-column: 1 / span6;
      }
      .submit{
        margin-top: 3vw;;
        grid-column: 1 / 8;
        display: flex;
      }

    fieldset{
        width:auto;
        margin-bottom: 10vw;
    }
    form#contactfo {
        grid-template-columns: repeat(6, 0px);
        font-size: 50%;
        justify-content: center;
    }

  }


@media screen and (min-width: 769px) and (max-width: 1024px) {
    fieldset{
        width:auto;
        margin-bottom: 10vw;
    }
    form#contactfo {
        grid-template-columns: repeat(6, 100px);
        font-size: 90%;
        grid-gap: 20px;
    }
    #row{
        width : fit-content;
    }

    img{
        width: 50%;
        height: 100%;
    }
    #introduce{
        font-size: 100%;
        height: 100%;
    }
    
    .myDiv1 { 
        width: 95%;
        margin-bottom: 5vw;
        font-size: 100%;
    }
    
    .box1{
        margin-top: 10vw;
        width: fit-content;
        height: 100%;
    }

    .box2{
        margin-top: 5vw;
        margin-bottom: 5vw;
        height: auto;
        width: auto;
    }
    .box3{
        margin-top: 5vw;
        height: auto;
        width: auto;
    }
    .box4{
        height: auto;
        width: auto;
    }
    #b2{
        height: 100%;
    }
    th{
        font-size: 100%;
        height: 100%;
        width: auto;
    }
    td{
        width: auto;
    }
    #TableHeading,
    #about,
    #field,
    td #field,
    #radiobuttons,
    input {
        font-size: 100%;
    }
    textarea{
        margin-left: auto;
        height: 100%;
        width: 50vw;
    }
    label {
        width: fit-content;
        margin-left: auto;
    }

    #more{
        margin-top: 10vw;
        width: 95%;
        font-size: 100%;
        height: 100%;
    }
    .reflect,   
    .git{
        height:auto;
        font-size: 100%;
        text-align: auto;
    }
}





